<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="st" transaction-type="RESOURCE_LOCAL">

        <class>com.company.st.entity.AstronimicBody</class>
        <class>com.company.st.entity.Planet</class>
        <class>com.company.st.entity.Atmosphere</class>
        <class>com.company.st.entity.Gas</class>
        <class>com.company.st.entity.AtmosphericGas</class>
        <class>com.company.st.entity.Moon</class>
        <class>com.company.st.entity.Coordinates</class>
        <class>com.company.st.entity.Customer</class>
        <class>com.company.st.entity.WaybillItem</class>
        <class>com.company.st.entity.Discount</class>
        <class>com.company.st.entity.Spaceport</class>
        <class>com.company.st.entity.Carrier</class>
        <class>com.company.st.entity.Dimensions</class>
        <class>com.company.st.entity.Waybill</class>
        <class>com.company.st.entity.Company</class>
        <class>com.company.st.entity.Individual</class>
    </persistence-unit>
</persistence>
